In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 1. Análisis exploratorio
## 1.1 Integralidad de la información

In [2]:
data=pd.read_csv(r"C:\Users\Usuario\Ciencia de datos\MLPython\python-ml-course-master\datasets\titanic\titanic3.csv")

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   int64
 1   survived   1309 non-null   int64
 2   name       1309 non-null   object
 3   sex        1309 non-null   object
 4   age        1046 non-null   float64
 5   sibsp      1309 non-null   int64
 6   parch      1309 non-null   int64
 7   ticket     1309 non-null   object
 8   fare       1308 non-null   float64
 9   cabin      295 non-null    object
 10  embarked   1307 non-null   object
 11  boat       486 non-null    object
 12  body       121 non-null    float64
 13  home.dest  745 non-null    object
dtypes: float64(3), int64(4), object(7)
memory usage: 143.3+ KB

El primer paso que realizo es un análisis de los datos, entendiendo de manera adecuada la información que contiene cada una de als columnas, es necesario ajustar el tipo de variable de cada feature para que sea correspondiente con la naturaleza de la columna. 

En este caso, las variable pclass, correspondiente a la clase del pasajero, cuya naturaleza es categorica será cambiada a object, la variable survived, correspondiente a si el pasajero sobrevivió o no, cuya naturaleza es booleana, será cambiado de la misma.

Esta transformación será realizada a continuación

In [20]:
convert_dict = {'survived': bool,
                'pclass': object}
data[["survived", "pclass"]] = data[["survived", "pclass"]].astype (convert_dict)
data[['pclass','sex','ticket', 'cabin', 'embarked', 'boat','home.dest' ]] =data[['pclass','sex','ticket', 'cabin', 'embarked', 'boat','home.dest' ]].astype("category")

Además, en este punto es necesario conocer si existen datos nulos en el dataset para empezar a identificar la manera en la que deben ser tratados.

In [22]:
data.isnull().sum()

pclass          0
survived        0
name            0
sex             0
age           263
sibsp           0
parch           0
ticket          0
fare            1
cabin        1014
embarked        2
boat          823
body         1188
home.dest     564
dtype: int64

Como se puede observar, algunas columnas tienen datos nulos, los valores faltantes en columna de edad serán reemplazados por el promedio, los registros que tienen datos faltantes en la columna fare y embarked serán eliminados, además, las columnas cabin y home.dest serán eliminadas

Por otro lado, la columna boat, correspondiente al bote salvavidas que utilizó y la columna body, correspondiente al número de cuerpo si es que fue hallado, se sospecha tienen relación directa con la supervivencia del pasajero, por lo tanto, serán reemplazados los espacios nulos con un valor que no afecte el desempeño del modelo

In [24]:
## Exploración y visualización de los primeros 50 datos
## esto se hace con el fin de comprobar la integridad de la información
data.head(50)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,True,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,True,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,False,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,False,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,False,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
5,1,True,"Anderson, Mr. Harry",male,48.0000,0,0,19952,26.5500,E12,S,3,NaN,"New York, NY"
6,1,True,"Andrews, Miss. Kornelia Theodosia",female,63.0000,1,0,13502,77.9583,D7,S,10,NaN,"Hudson, NY"
7,1,False,"Andrews, Mr. Thomas Jr",male,39.0000,0,0,112050,0.0000,A36,S,NaN,NaN,"Belfast, NI"
8,1,True,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.0000,2,0,11769,51.4792,C101,S,D,NaN,"Bayside, Queens, NY"
9,1,False,"Artagaveytia, Mr. Ramon",male,71.0000,0,0,PC 17609,49.5042,NaN,C,NaN,22.0,"Montevideo, Uruguay"
10,1,False,"Astor, Col. John Jacob",male,47.0000,1,0,PC 17757,227.5250,C62 C64,C,NaN,124.0,"New York, NY"
11,1,True,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,18.0000,1,0,PC 17757,227.5250,C62 C64,C,4,NaN,"New York, NY"
12,1,True,"Aubart, Mme. Leontine Pauline",female,24.0000,0,0,PC 17477,69.3000,B35,C,9,NaN,"Paris, France"
13,1,True,"Barber, Miss. Ellen ""Nellie""",female,26.0000,0,0,19877,78.8500,NaN,S,6,NaN,NaN
14,1,True,"Barkworth, Mr. Algernon Henry Wilson",male,80.0000,0,0,27042,30.0000,A23,S,B,NaN,"Hessle, Yorks"
15,1,False,"Baumann, Mr. John D",male,NaN,0,0,PC 17318,25.9250,NaN,S,NaN,NaN,"New York, NY"
16,1,False,"Baxter, Mr. Quigg Edmond",male,24.0000,0,1,PC 17558,247.5208,B58 B60,C,NaN,NaN,"Montreal, PQ"
17,1,True,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.0000,0,1,PC 17558,247.5208,B58 B60,C,6,NaN,"Montreal, PQ"
18,1,True,"Bazzani, Miss. Albina",female,32.0000,0,0,11813,76.2917,D15,C,8,NaN,NaN
19,1,False,"Beattie, Mr. Thomson",male,36.0000,0,0,13050,75.2417,C6,C,A,NaN,"Winnipeg, MN"
20,1,True,"Beckwith, Mr. Richard Leonard",male,37.0000,1,1,11751,52.5542,D35,S,5,NaN,"New York, NY"
21,1,True,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0000,1,1,11751,52.5542,D35,S,5,NaN,"New York, NY"
22,1,True,"Behr, Mr. Karl Howell",male,26.0000,0,0,111369,30.0000,C148,C,5,NaN,"New York, NY"
23,1,True,"Bidois, Miss. Rosalie",female,42.0000,0,0,PC 17757,227.5250,NaN,C,4,NaN,NaN
24,1,True,"Bird, Miss. Ellen",female,29.0000,0,0,PC 17483,221.7792,C97,S,8,NaN,NaN
25,1,False,"Birnbaum, Mr. Jakob",male,25.0000,0,0,13905,26.0000,NaN,C,NaN,148.0,"San Francisco, CA"
26,1,True,"Bishop, Mr. Dickinson H",male,25.0000,1,0,11967,91.0792,B49,C,7,NaN,"Dowagiac, MI"
27,1,True,"Bishop, Mrs. Dickinson H (Helen Walton)",female,19.0000,1,0,11967,91.0792,B49,C,7,NaN,"Dowagiac, MI"
28,1,True,"Bissette, Miss. Amelia",female,35.0000,0,0,PC 17760,135.6333,C99,S,8,NaN,NaN
29,1,True,"Bjornstrom-Steffansson, Mr. Mauritz Hakan",male,28.0000,0,0,110564,26.5500,C52,S,D,NaN,"Stockholm, Sweden / Washington, DC"
30,1,False,"Blackwell, Mr. Stephen Weart",male,45.0000,0,0,113784,35.5000,T,S,NaN,NaN,"Trenton, NJ"
31,1,True,"Blank, Mr. Henry",male,40.0000,0,0,112277,31.0000,A31,C,7,NaN,"Glen Ridge, NJ"
32,1,True,"Bonnell, Miss. Caroline",female,30.0000,0,0,36928,164.8667,C7,S,8,NaN,"Youngstown, OH"
33,1,True,"Bonnell, Miss. Elizabeth",female,58.0000,0,0,113783,26.5500,C103,S,8,NaN,"Birkdale, England Cleveland, Ohio"
34,1,False,"Borebank, Mr. John James",male,42.0000,0,0,110489,26.5500,D22,S,NaN,NaN,"London / Winnipeg, MB"
35,1,True,"Bowen, Miss. Grace Scott",female,45.0000,0,0,PC 17608,262.3750,NaN,C,4,NaN,"Cooperstown, NY"
36,1,True,"Bowerman, Miss. Elsie Edith",female,22.0000,0,1,113505,55.0000,E33,S,6,NaN,"St Leonards-on-Sea, England Ohio"
37,1,True,"Bradley, Mr. George (""George Arthur Brayton"")",male,NaN,0,0,111427,26.5500,NaN,S,9,NaN,"Los Angeles, CA"
38,1,False,"Brady, Mr. John Bertram",male,41.0000,0,0,113054,30.5000,A21,S,NaN,NaN,"Pomeroy, WA"
39,1,False,"Brandeis, Mr. Emil",male,48.0000,0,0,PC 17591,50.4958,B10,C,NaN,208.0,"Omaha, NE"
40,1,False,"Brewe, Dr. Arthur Jackson",male,NaN,0,0,112379,39.6000,NaN,C,NaN,NaN,"Philadelphia, PA"
41,1,True,"Brown, Mrs. James Joseph (Margaret Tobin)",female,44.0000,0,0,PC 17610,27.7208,B4,C,6,NaN,"Denver, CO"
42,1,True,"Brown, Mrs. John Murray (Caroline Lane Lamson)",female,59.0000,2,0,11769,51.4792,C101,S,D,NaN,"Belmont, MA"
43,1,True,"Bucknell, Mrs. William Robert (Emma Eliza Ward)",female,60.0000,0,0,11813,76.2917,D15,C,8,NaN,"Philadelphia, PA"
44,1,True,"Burns, Miss. Elizabeth Margaret",female,41.0000,0,0,16966,134.5000,E40,C,3,NaN,NaN
45,1,False,"Butt, Major. Archibald Willingham",male,45.0000,0,0,113050,26.5500,B38,S,NaN,NaN,"Washington, DC"
46,1,False,"Cairns, Mr. Alexander",male,NaN,0,0,113798,31.0000,NaN,S,NaN,NaN,NaN
47,1,True,"Calderhead, Mr. Edward Pennington",male,42.0000,0,0,PC 17476,26.2875,E24,S,5,NaN,"New York, NY"
48,1,True,"Candee, Mrs. Edward (Helen Churchill Hungerford)",female,53.0000,0,0,PC 17606,27.4458,NaN,C,6,NaN,"Washington, DC"
49,1,True,"Cardeza, Mr. Thomas Drake Martinez",male,36.0000,0,1,PC 17755,512.3292,B51 B53 B55,C,3,NaN,"Austria-Hungary / Germantown, Philadelphia, PA"

In [26]:
## Exploración y visualización de los últimos 50 datos
## esto se hace con el fin de comprobar la integridad de la información
data.tail(50)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
1259,3,False,"Turcin, Mr. Stjepan",male,36.0,0,0,349247,7.8958,NaN,S,NaN,NaN,NaN
1260,3,True,"Turja, Miss. Anna Sofia",female,18.0,0,0,4138,9.8417,NaN,S,15,NaN,NaN
1261,3,True,"Turkula, Mrs. (Hedwig)",female,63.0,0,0,4134,9.5875,NaN,S,15,NaN,NaN
1262,3,False,"van Billiard, Master. James William",male,NaN,1,1,A/5. 851,14.5000,NaN,S,NaN,NaN,NaN
1263,3,False,"van Billiard, Master. Walter John",male,11.5,1,1,A/5. 851,14.5000,NaN,S,NaN,1.0,NaN
1264,3,False,"van Billiard, Mr. Austin Blyler",male,40.5,0,2,A/5. 851,14.5000,NaN,S,NaN,255.0,NaN
1265,3,False,"Van Impe, Miss. Catharina",female,10.0,0,2,345773,24.1500,NaN,S,NaN,NaN,NaN
1266,3,False,"Van Impe, Mr. Jean Baptiste",male,36.0,1,1,345773,24.1500,NaN,S,NaN,NaN,NaN
1267,3,False,"Van Impe, Mrs. Jean Baptiste (Rosalie Paula Go...",female,30.0,1,1,345773,24.1500,NaN,S,NaN,NaN,NaN
1268,3,False,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S,NaN,NaN,NaN
1269,3,False,"Vande Velde, Mr. Johannes Joseph",male,33.0,0,0,345780,9.5000,NaN,S,NaN,NaN,NaN
1270,3,False,"Vande Walle, Mr. Nestor Cyriel",male,28.0,0,0,345770,9.5000,NaN,S,NaN,NaN,NaN
1271,3,False,"Vanden Steen, Mr. Leo Peter",male,28.0,0,0,345783,9.5000,NaN,S,NaN,NaN,NaN
1272,3,False,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S,NaN,NaN,NaN
1273,3,False,"Vander Planke, Miss. Augusta Maria",female,18.0,2,0,345764,18.0000,NaN,S,NaN,NaN,NaN
1274,3,False,"Vander Planke, Mr. Julius",male,31.0,3,0,345763,18.0000,NaN,S,NaN,NaN,NaN
1275,3,False,"Vander Planke, Mr. Leo Edmondus",male,16.0,2,0,345764,18.0000,NaN,S,NaN,NaN,NaN
1276,3,False,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S,NaN,NaN,NaN
1277,3,True,"Vartanian, Mr. David",male,22.0,0,0,2658,7.2250,NaN,C,13 15,NaN,NaN
1278,3,False,"Vendel, Mr. Olof Edvin",male,20.0,0,0,350416,7.8542,NaN,S,NaN,NaN,NaN
1279,3,False,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S,NaN,NaN,NaN
1280,3,False,"Vovk, Mr. Janko",male,22.0,0,0,349252,7.8958,NaN,S,NaN,NaN,NaN
1281,3,False,"Waelens, Mr. Achille",male,22.0,0,0,345767,9.0000,NaN,S,NaN,NaN,"Antwerp, Belgium / Stanton, OH"
1282,3,False,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S,NaN,NaN,NaN
1283,3,False,"Warren, Mr. Charles William",male,NaN,0,0,C.A. 49867,7.5500,NaN,S,NaN,NaN,NaN
1284,3,False,"Webber, Mr. James",male,NaN,0,0,SOTON/OQ 3101316,8.0500,NaN,S,NaN,NaN,NaN
1285,3,False,"Wenzel, Mr. Linhart",male,32.5,0,0,345775,9.5000,NaN,S,NaN,298.0,NaN
1286,3,True,"Whabee, Mrs. George Joseph (Shawneene Abi-Saab)",female,38.0,0,0,2688,7.2292,NaN,C,C,NaN,NaN
1287,3,False,"Widegren, Mr. Carl/Charles Peter",male,51.0,0,0,347064,7.7500,NaN,S,NaN,NaN,NaN
1288,3,False,"Wiklund, Mr. Jakob Alfred",male,18.0,1,0,3101267,6.4958,NaN,S,NaN,314.0,NaN
1289,3,False,"Wiklund, Mr. Karl Johan",male,21.0,1,0,3101266,6.4958,NaN,S,NaN,NaN,NaN
1290,3,True,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,NaN,NaN,NaN
1291,3,False,"Willer, Mr. Aaron (""Abi Weller"")",male,NaN,0,0,3410,8.7125,NaN,S,NaN,NaN,NaN
1292,3,False,"Willey, Mr. Edward",male,NaN,0,0,S.O./P.P. 751,7.5500,NaN,S,NaN,NaN,NaN
1293,3,False,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0,0,A/5 2466,8.0500,NaN,S,NaN,NaN,NaN
1294,3,False,"Williams, Mr. Leslie",male,28.5,0,0,54636,16.1000,NaN,S,NaN,14.0,NaN
1295,3,False,"Windelov, Mr. Einar",male,21.0,0,0,SOTON/OQ 3101317,7.2500,NaN,S,NaN,NaN,NaN
1296,3,False,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,NaN,131.0,NaN
1297,3,False,"Wiseman, Mr. Phillippe",male,NaN,0,0,A/4. 34244,7.2500,NaN,S,NaN,NaN,NaN
1298,3,False,"Wittevrongel, Mr. Camille",male,36.0,0,0,345771,9.5000,NaN,S,NaN,NaN,NaN
1299,3,False,"Yasbeck, Mr. Antoni",male,27.0,1,0,2659,14.4542,NaN,C,C,NaN,NaN
1300,3,True,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15.0,1,0,2659,14.4542,NaN,C,NaN,NaN,NaN
1301,3,False,"Youseff, Mr. Gerious",male,45.5,0,0,2628,7.2250,NaN,C,NaN,312.0,NaN
1302,3,False,"Yousif, Mr. Wazli",male,NaN,0,0,2647,7.2250,NaN,C,NaN,NaN,NaN
1303,3,False,"Yousseff, Mr. Gerious",male,NaN,0,0,2627,14.4583,NaN,C,NaN,NaN,NaN
1304,3,False,"Zabour, Miss. Hileni",female,14.5,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN
1305,3,False,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3,False,"Zakarian, Mr. Mapriededer",male,26.5,0,0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3,False,"Zakarian, Mr. Ortin",male,27.0,0,0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3,False,"Zimmerman, Mr. Leo",male,29.0,0,0,315082,7.8750,NaN,S,NaN,NaN,NaN

Con la finalidad de comprender con mejor profundidad nuestro problema, es importante entender que tan balanceada esta la muestra, en este caso nuestra clasificación es la supervivencia (columna "survived"), la cual puede tomar solamente valores de True y False

In [27]:
data.survived.value_counts()

False    809
True     500
Name: survived, dtype: int64